.Title {
    width: 100%;
    display: flex;
    align-items: start;
    box-sizing: border-box;
    padding-left: 25px;
    padding-top: 125px;
    font-size: 64px;
    color: rgb(255, 166, 0);
    font-weight: 200;
}